<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title>
</head>
<body>
  <h5>
    test.hbs
  </h5>
  <p>
    _test value is {{params.test}}
  </p>
<script type="text/javascript" src="/resources/js/index.js"></script></body>
</html>
